<div class="center-box">
  <!--<p class="text-center">Kindly respond by May 16<sup>th</sup>, 2016</p>-->

  <%= render 'shared/errors', obj: @rsvp %>

  <%= form_for(@rsvp, :html => { class: 'form-horizontal', role: 'form' }) do |r| %>

    <div class="form-group">
      <div class="control-label pull-left">
        <%= r.label :party, 'Names of people attending (only names on invitation)' %> <span class="required">*</span>
      </div>
      <div class="control-label">
        <%= r.text_field :party, class: 'form-control', placeholder: 'Please enter names separated by commas', autofocus: true %>
      </div>
    </div>

    <p>Will you attend in Colorado? (please only RSVP to event(s) on invite)</p> <span class="required">*</span>

    <div class="form-group">
      <%= r.radio_button :accept, true, :checked => true %>
      <%= r.label :accept, 'Will attend in Colorado' %>
      &nbsp;&nbsp;&nbsp;
      <%= r.radio_button :accept, false, :checked => false %>
      <%= r.label :accept, 'Will not attend in Colorado' %>
    </div>

    <p>Will you attend in California? (please only RSVP to event(s) on invite)</p> <span class="required">*</span>

    <div class="form-group">
      <%= r.radio_button :acceptcalifornia, true, :checked => true %>
      <%= r.label :acceptcalifornia, 'Will attend in California' %>
      &nbsp;&nbsp;&nbsp;
      <%= r.radio_button :acceptcalifornia, false, :checked => false %>
      <%= r.label :acceptcalifornia, 'Will not attend in California' %>
    </div>

    <div class="form-group">
      <div class="control-label pull-left">
        <%= r.label :attendees, 'Number of attendees' %> <span class="required">*</span>
      </div>
      <div class="control-label">
        <%= r.number_field :attendees, class: 'form-control', placeholder: 'Enter 0 (Zero) if not attending' %>
      </div>
    </div>

    <div class="form-group">
      <div class="control-label pull-left">
        <%= r.label :number, 'Phone Number' %>
      </div>
      <div class="control-label">
        <%= r.text_field :number, class: 'form-control' %>
        <small class="pull-left">In case we need to contact you</small> <span class="required">*</span>
      </div>
    </div>

    <div class="form-group">
      <div class="control-label pull-left">
        <%= r.label :address %>
      </div>
      <div class="control-label">
        <%= r.text_field :address, class: 'form-control' %> <span class="required">*</span>
      </div>
    </div>

    <div class="form-group">
      <div class="control-label pull-left">
        <%= r.label :comment %>
      </div>
      <div class="control-label">
        <%= r.text_area :comment, rows: 4, class: 'form-control', placeholder: 'Please leave any specials requests (i.e. song suggestions, dietary restrictions, etc.).
If applicable, provide the number of people that will be attending that are under the age of 21.' %>
      </div>
    </div>

    <div class="text-center">
      <%= recaptcha_tags %>
    </div>

    <div class='form-group'>
      <div class='control-label pull-left'>
        <%= r.submit 'RSVP', class: 'btn btn-primary btn-lg' %>
      </div>
    </div>

  <% end %>

  <p class="required"><small>* Required fields</small></p>
</div>